/* Reset default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6f48c9, #000000);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container.center-text {
  text-align: center;
}

/* Header */
header {
  background-color: #000000;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

header .container {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff0000;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  color: #ffffff;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Media query styles here */
}

/* Title */
.title-container h1 {
  font-size: 28px;
  padding: 0 10px;
}

/* Main Content */
main {
  flex: 1;
  padding: 80px 0 40px;
}

/* Sections */
section {
  margin-bottom: 40px;
}

/* Sections Styling */
#home {
  background-image: url(images/pexels-neo-2653362.jpg); /* Adjust the image path */
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 48px;
}

#services h2 {
  color: #ff0000;
  border-bottom: 2px solid #ffffff;
  padding: 10px 0;
}

#services p {
  margin-top: 20px;
}

/* Button styles */
.contact-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #6f48c9;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.contact-button:hover {
  background-color: #8743a7;
}

/* Add this CSS to center the button */
.button-wrapper {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}


/* Center align the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add spacing between form elements */
form label,
form input,
form textarea,
form select {
  margin-bottom: 15px;
}

.contact-form {
  border: 2px solid #ffffff;
  padding: 30px;
  border-radius: 5px;
}

/* Change the text color to black */
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #000000;
}

/* Footer */
footer {
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the copyright text */
footer .copyright {
  text-align: center;
}

/* Style for the contact information */
footer .contact-info {
  text-align: right;
}

/* Style for the contact title */
footer .contact-title {
  margin-bottom: 10px;
}

/* About Page Content */
#about {
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
}

#about h2 {
  text-decoration: underline;
  font-size: 24px;
}

#about p {
  margin: 20px auto;
}

.box {
  flex: 0 0 calc(33.33% - 40px); /* Adjusted width to center and shorten */
  margin: 20px auto; /* Center the boxes horizontally and provide top and bottom margin */
  padding: 30px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: translateY(-8px);
}

.box h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.box img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* Add this CSS to style the modal */
.image-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 50%; /* Limit maximum width */
  max-height: 50%; /* Limit maximum height */
  overflow: auto; /* Enable scrolling if modal content exceeds viewport */
}

.modal-content {
  background-color: #fefefe;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  max-width: 100%;
  height: 100%; /* Max to image size */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  color: #ff0000;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background-color: #dddddd;
}


/* Add styles for the confirmation box */
.confirmation-box {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Add styles for error messages */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

/* Add styles for the confirmation box */
.confirmation-box {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Add styles for error messages */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}
